<div class="container-fluid px-0 no-gutters">
  <h5>Comentarii</h5>
  <ng-container *ngFor="let comment of comments">
    <div class="row">
      <div class="col-md-12">
        <div class="card my-1">
          <div class="card-body py-0 px-3">
            <div class="top-section d-flex flex-row justify-content-between pb-1">
              <span>{{comment.dateAgo}}, {{comment.name}} a spus:</span>
              <span class="reply-button ml-auto" (click)="addReply(comment.commentId)">Raspunde</span>
              <span class="text-danger ml-2" (click)="deleteComment(comment.commentId)">Sterge</span>
            </div>
            <hr class="p-0 m-0">
            <div class="body-section py-1">
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let reply of comment.replies" class="col-md-11 offset-md-1">
        <div class="card my-1">
          <div class="card-body py-0 px-3">
            <div class="top-section d-flex flex-row justify-content-between pb-1">
              <span>{{reply.dateAgo}}, {{reply.name}} a spus: </span>
              <span class="text-danger" (click)="deleteComment(reply.commentId)">Sterge</span>
            </div>
            <hr class="p-0 m-0">
            <div class="body-section py-1">
              {{reply.content}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-11 offset-md-1" *ngIf="comment.showReplyForm">
        <div class="card">
          <div class="card-body p-1">
            <textarea (keyup)="updateReplyLength(comment.commentId, comment.newReply)" [maxlength]="maxCommentSize" placeholder="Raspunde.." [(ngModel)]="comment.newReply" rows="2" class="form-control"></textarea>
          </div>
          <div class="card-footer d-flex flex-row justify-content-end p-1">
            <span class="mr-3">
              {{comment.currentLength}}/{{maxCommentSize}} caractere
            </span>
            <button class="btn btn-success btn-sm" (click)="replyToComment(comment)">
              Adauga
            </button>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
  <hr>
  <div class="card">
    <div class="card-body p-1">
      <textarea (keyup)="updateCurrentLengthComment()" [maxlength]="maxCommentSize" [(ngModel)]="newComment" placeholder="Comentariu nou.." rows="2" class="form-control"></textarea>
    </div>
    <div class="card-footer d-flex flex-row justify-content-end p-1">
      <span class="mr-3">
        {{currentLength}}/{{maxCommentSize}} caractere
      </span>
      <button class="btn btn-success btn-sm" (click)="addNewComment()">
        Adauga
      </button>
    </div>
  </div>
</div>