<div class="container-fluid mt-2">
  <h1>{{lesson?.title}}</h1>
  <p class="lead">
    {{lesson?.content}}
  </p>
  <hr>
  <p>Tags: {{lesson?.tags}}</p>
  <p *ngIf="lesson">
    <span *ngFor="let tag of lesson.tags" class="mr-2 p-2 badge badge-success">{{tag}}</span>
  </p>
  <hr>
  <div class="btn btn-danger my-1 mr-1 ml-0" (click)="deleteLesson()">Sterge lectie</div>
  <div class="btn btn-warning m-1" [routerLink]="'/teacher-dashboard/edit-lesson/' + lesson?.lessonId">Modifica lectie</div>
</div>