<div *ngIf="lesson" class="container-fluid mt-2">
  <h1>{{lesson?.title}}</h1>
  <p class="lead">
    {{lesson?.content}}
  </p>
  <hr>
  <p *ngIf="lesson">Taguri: <span *ngFor="let tag of lesson.tags" class="ml-2 p-2 badge badge-success">{{tag}}</span></p>
  <hr>
  <p *ngIf="lesson.uploads.length > 0; else noAttachments">Fisiere atasate:
    <a class="d-block" href={{api+item.url}} *ngFor="let item of lesson.uploads">{{item.filename}}</a>
  </p>

  <ng-template #noAttachments>
    <p>Nu exista fisiere atasate</p>
  </ng-template>

  <div class="row">
    <div class="col-md-12">
      <h5>Comentarii</h5>
    </div>
    <ng-container *ngFor="let comment of lesson.comments">
      <div class="col-md-12">
        <div class="card my-1">
          <div class="card-body py-0 px-3">
            <div class="top-section d-flex flex-row justify-content-between pb-1"><span>{{comment.dateAgo}}, {{comment.name}} a spus:</span>
              <span class="reply-button" (click)="addReply(comment.commentId)">Reply</span>
            </div>
            <hr class="p-0 m-0">
            <div class="body-section py-1">
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-11 offset-md-1" *ngIf="comment.showReplyForm">
        <div class="card">
          <div class="card-body p-1">
            <textarea placeholder="Raspunde.." [(ngModel)]="comment.newReply" rows="2" class="form-control"></textarea>
          </div>
          <div class="card-footer d-flex flex-row justify-content-end p-1">
            <button class="btn btn-success btn-sm" (click)="replyToComment(comment)">
              Adauga
            </button>
          </div>
        </div>
      </div>
      

      <div *ngFor="let reply of comment.replies" class="col-md-11 offset-md-1">
        <div class="card my-1">
          <div class="card-body py-0 px-3">
            <div class="top-section d-flex flex-row justify-content-between pb-1"><span>{{reply.dateAgo}}, {{reply.name}} a spus:</span>
            </div>
            <hr class="p-0 m-0">
            <div class="body-section py-1">
              {{reply.content}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    
    
    
    <hr>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body p-1">
          <textarea [(ngModel)]="newComment" placeholder="Comentariu nou.." rows="2" class="form-control"></textarea>
        </div>
        <div class="card-footer d-flex flex-row justify-content-end p-1">
          <button class="btn btn-success btn-sm" (click)="addNewComment()">
            Adauga
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

