<div class="d-flex flex-column main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="input-group m-3 row">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div> 
      <input type="text" class="form-control" [(ngModel)]="searchText">
      </div>
    </div>
  </div> 
  
  <div class="container-fluid p-3 mb-3" style="overflow-y: scroll; border-top: 3px solid green">
    <div class="row no-gutters">
      <ul class="list-group col-md-12" *ngIf="showList">
        <li (click)="toggleStudent(student.userId)" *ngFor="let student of attendanceList" class="list-group-item p-1">{{student.name}}</li>
      </ul>
    </div>
  </div>
</div>