<div class="d-flex flex-column main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="input-group m-3 row">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div> 
      <input type="text" class="form-control">
      </div>
    </div>
  </div> 
  
  <div class="container-fluid p-3" style="overflow-y: scroll; border-top: 3px solid green">
    <div class="row no-gutters">
      <ul class="list-group col-md-12">
        <li class="list-group-item list-group-item-success p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item list-group-item-success p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Dapibus ac facilisis in</li>
        <li class="list-group-item p-1">Morbi leo risus</li>
        <li class="list-group-item list-group-item-success p-1">Porta ac consectetur ac</li>
        <li class="list-group-item list-group-item-success p-1">Vestibulum at eros</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Dapibus ac facilisis in</li>
        <li class="list-group-item p-1">Morbi leo risus</li>
        <li class="list-group-item p-1">Porta ac consectetur ac</li>
        <li class="list-group-item p-1">Vestibulum at eros</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Dapibus ac facilisis in</li>
        <li class="list-group-item p-1">Morbi leo risus</li>
        <li class="list-group-item p-1">Porta ac consectetur ac</li>
        <li class="list-group-item p-1">Vestibulum at eros</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Dapibus ac facilisis in</li>
        <li class="list-group-item p-1">Morbi leo risus</li>
        <li class="list-group-item p-1">Porta ac consectetur ac</li>
        <li class="list-group-item p-1">Vestibulum at eros</li>
        <li class="list-group-item p-1">Cras justo odio</li>
        <li class="list-group-item p-1">Dapibus ac facilisis in</li>
        <li class="list-group-item p-1">Morbi leo risus</li>
        <li class="list-group-item p-1">Porta ac consectetur ac</li>
        <li class="list-group-item p-1">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
    
</div>