<div *ngIf="homework" class="m-3">
  <h2>{{homework.title}}<span class="badge badge-success ml-3">{{homework.status}}</span></h2>
  <p class="lead">{{homework.description}}</p>
  <h4>Taskuri</h4>
  <ul class="list-group">
    <li *ngFor="let task of homework.tasks" class="list-group-item">
      {{task.content}} - tip: <span *ngIf="task.type == 0">Link</span><span *ngIf="task.type == 1">Fisier</span>
    </li>
  </ul>
  <p class="mt-3">Taguri: <span *ngFor="let tag of homework.tags" class="ml-2 p-2 badge badge-success">{{tag}}</span></p>
  <div class="mt-2">
    <button class="btn btn-success" [routerLink]="'/student-dashboard/homework-submit/' + homeworkId">Trimite tema</button>
  </div>
  <app-comments [dataId]="homeworkId" [pageType]="'Homework'"></app-comments>
</div>
<div *ngIf="!homework" class="m-3">
  Loading...
</div>

