<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Cerc info</a>
    <button class="btn btn-outline-success ml-auto" data-toggle="modal" data-target="#loginModal">Autentificare</button>
  </div>
</nav>

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 pt-5">
            <h1 class="display-2">Cerc informatica eMag!</h1>
            <blockquote class="blockquote py-3">
              <p class="mb-0">“The question of whether a computer can think is no more interesting than the question of whether a submarine
                can swim.” </p>
              <footer class="blockquote-footer">
                <cite title="https://www.goodreads.com/author/show/1013817.Edsger_W_Dijkstra">Edsger W. Dijkstra</cite>
              </footer>
            </blockquote>
            <p>
              <button class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#loginModal">Autentificare &raquo;</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="cerc-description" class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3">Cine suntem noi?</h1>
        <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolores explicabo voluptates fuga atque, quo neque
          autem optio quidem. Illo perspiciatis nihil dolorem placeat? Quae soluta aut perspiciatis quas et officiis quasi
          voluptatum vel. Cupiditate, ea iusto voluptatum fugiat laborum at ipsa, enim aperiam quia culpa officiis, similique
          earum tempore dolore nostrum velit dolorum expedita? Consequuntur at incidunt rerum. Inventore nulla quae deserunt
          temporibus autem eveniet libero, omnis voluptate soluta ipsa eius eos voluptates excepturi, unde repudiandae maxime
          vitae dicta itaque praesentium officia consequuntur sapiente. Illo porro qui modi sunt eaque consequatur eum rem
          possimus. Quidem, asperiores. Soluta, nisi ea! </p>
      </div>
    </div>
  </div>
</section>

<section id="cerc-description" class="py-5 bg-success text-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3">Contact</h1>
        <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolores explicabo voluptates fuga atque, quo neque
          autem optio quidem. Illo perspiciatis nihil dolorem placeat? Quae soluta aut perspiciatis quas et officiis quasi
          voluptatum vel. Cupiditate, ea iusto voluptatum fugiat laborum at ipsa, enim aperiam quia culpa officiis, similique
          earum tempore dolore nostrum velit dolorum expedita? Consequuntur at incidunt rerum. Inventore nulla quae deserunt
          temporibus autem eveniet libero, omnis voluptate soluta ipsa eius eos voluptates excepturi, unde repudiandae maxime
          vitae dicta itaque praesentium officia consequuntur sapiente. Illo porro qui modi sunt eaque consequatur eum rem
          possimus. Quidem, asperiores. Soluta, nisi ea! </p>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark text-light p-3">
    <div class="container d-flex flex-row">
      <div class="mr-auto">
          Copyright © 2017
      </div>
      <div>
          © Solcan Mihai & Gasparovici Andrei
      </div>
    </div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Autentificare</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
             A simple danger alert—check it out!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" [ngModel]="details.email" class="form-control" id="inputEmail" placeholder="Email...">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" [ngModel]="details.password" id="inputPassword" placeholder="Parola..">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
          <button type="button" class="btn btn-success" (click)="handleSubmit()">Autentificare</button>
        </div>
      </div>
    </div>
  </div>