<nav class="navbar navbar-inverse bg-inverse"> 
  <div class="container">
    <a class="navbar-brand" href="#">Cerc info</a>
    <a class="btn btn-outline-success"[routerLink]="'/login'">Autentificare</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cerc informatica eMag!</h1>
    <p>Citat motivational</p>
    <hr>
    <p>Descriere cerc</p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="'/login'" role="button">Autentificare &raquo;</a></p>
  </div>
</div>

