<div class="container-fluid mt-2">
    <h2>{{pageTitle}}</h2>
    <form>
        <div class="form-group">
            <label for="homeworkTitle">Titlu</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="homework.title"  id="homeworkTitle" placeholder="Titlu tema..">
        </div>
        <div class="form-group">
            <label for="homeworkDescription">Descriere</label>
            <textarea type="text" name="description" class="form-control" [(ngModel)]="homework.description"   id="homeworkDescription" placeholder="Descriere tema.."></textarea>
        </div>
        <div class="form-group mb-3">
            <label>Taguri</label>
            <div class="input-group">
                <input [(ngModel)]="newTag" type="text" name="tags" class="form-control d-inline-block" (keyup.enter)="addTag()" id="lessonTags" placeholder="Taguri tema..">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="addTag()">Adauga</button>
                </div>
            </div>
            <small id="tagslHelp" class="form-text text-muted">Dupa fiecare tag, apasa pe butonul de adaugare, sau apasa tasta enter. Apasa pe un tag pentru a il sterge.</small>
            <span *ngFor="let tag of tags" (click)="deleteTag(tag)" class="mt-2 mr-2 p-2 badge badge-success">{{tag}}</span>
        </div>


        <div class="form-group mb-3">
            <label>Taskuri</label>
            <ul class="list-group">
                <li *ngFor="let task of tasks; let i = index" class="list-group-item">
                    <div class="d-flex flex-row">
                        <input class="form-control" placeholder="Continut.." [name]="'content' + '_' + i" type="text" [(ngModel)]="task.content">
                        <label class="ml-3 switch">
                            <input [name]="'type' + '_' + i" type="checkbox" [(ngModel)]="task.type">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-group mb-3">
            <button class="btn btn-success" (click)="newTask()">Task nou</button>
        </div>

        <hr>

        <div class="form-group">
            <div class="btn btn-success" (click)="submitHomework()">
                Salveaza
            </div>
        </div>
    </form>
</div>