.full-container{
    min-height: calc(100vh - 115px);
    background-image: url('/assets/images/register-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.overlay{
    min-height: calc(100vh - 115px);
    background-color: rgba(0, 0, 0, 0.4);
}