<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Dashboard administrator</a>
  <button class="nav-link ml-auto btn btn-outline-success" (click)="handleLogout()">Logout</button>
</nav>

<div class="container-fluid">
  <div class="row">

      <ul class="col-sm-3 col-md-2 bg-dark sidebar list-group list-group-flush text-light pr-0">
          <a class="list-group-item text-light" #rla1="routerLinkActive" routerLinkActive [routerLink]="'/admin-dashboard'" [class.bg-success]="rla1.isActive" [class.bg-dark]="!rla1.isActive" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
          <a class="list-group-item text-light" #rla2="routerLinkActive" routerLinkActive [routerLink]="'/admin-dashboard/groups'" [class.bg-success]="rla2.isActive" [class.bg-dark]="!rla2.isActive" [routerLinkActiveOptions]="{exact: true}">Grupuri</a>
          <a class="list-group-item text-light" #rla3="routerLinkActive" routerLinkActive [routerLink]="'/admin-dashboard/teachers'" [class.bg-success]="rla3.isActive" [class.bg-dark]="!rla3.isActive" [routerLinkActiveOptions]="{exact: true}">Profesori</a>
          <a class="list-group-item text-light" #rla4="routerLinkActive" routerLinkActive [routerLink]="'/admin-dashboard/students'" [class.bg-success]="rla4.isActive" [class.bg-dark]="!rla4.isActive" [routerLinkActiveOptions]="{exact: true}">Elevi</a>
          <a class="list-group-item text-light" #rla5="routerLinkActive" routerLinkActive [routerLink]="'/admin-dashboard/invite'" [class.bg-success]="rla5.isActive" [class.bg-dark]="!rla5.isActive" [routerLinkActiveOptions]="{exact: true}">Invita utilizator nou</a>
      </ul>


    <div class="col-sm-9 col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>