<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Dashboard student</a>
  <div class="dropdown ml-auto mr-3">
    <button class="btn nav-link btn-outline-success dropdown-toggle" type="button" id="choseActiveGroupButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Grup activ
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="choseActiveGroupButton">
      <h6 class="dropdown-header">Grupuri active</h6>
      <div class="dropdown-item" (click)="setActiveGroup(item.groupId)" [class.bg-success]="item.groupId==activeGroupId" *ngFor="let item of availableGroups">{{item.name}}</div>
    </div>
  </div>
  <button class="nav-link btn btn-outline-success" (click)="handleLogout()">Logout</button>
</nav>

<div class="container-fluid">
  <div class="row">

      <ul class="col-sm-3 col-md-2 bg-dark sidebar list-group list-group-flush text-light pr-0">
          <a class="list-group-item text-light" #rla1="routerLinkActive" routerLinkActive [routerLink]="'/student-dashboard'" [class.bg-success]="rla1.isActive" [class.bg-dark]="!rla1.isActive" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
          <a class="list-group-item text-light" #rla2="routerLinkActive" routerLinkActive [routerLink]="'/student-dashboard/lessons'" [class.bg-success]="rla2.isActive" [class.bg-dark]="!rla2.isActive" [routerLinkActiveOptions]="{exact: true}">Lectii</a>
          <a class="list-group-item text-light" #rla4="routerLinkActive" routerLinkActive [routerLink]="'/student-dashboard/lectii-recomandate'" [class.bg-success]="rla4.isActive" [class.bg-dark]="!rla4.isActive" [routerLinkActiveOptions]="{exact: true}">Lectii recomandate</a>
          <a class="list-group-item text-light" #rla3="routerLinkActive" routerLinkActive [routerLink]="'/student-dashboard/homework-list'" [class.bg-success]="rla3.isActive" [class.bg-dark]="!rla3.isActive" [routerLinkActiveOptions]="{exact: true}">Teme</a>
      </ul>


    <div class="col-sm-9 col-md-10 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>