<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="list-group">
        <li [routerLink]="'/teacher-dashboard/prezenta/1'" class="list-group-item list-group-item-action">Cras justo odio</li>
        <li [routerLink]="'/teacher-dashboard/prezenta/1'" class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
        <li [routerLink]="'/teacher-dashboard/prezenta/1'" class="list-group-item list-group-item-action">Morbi leo risus</li>
        <li [routerLink]="'/teacher-dashboard/prezenta/1'" class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
        <li [routerLink]="'/teacher-dashboard/prezenta/1'" class="list-group-item list-group-item-action">Vestibulum at eros</li>
      </div>

      <div class="btn btn-success mt-2">Prezenta noua</div>
    </div>
  </div>
</div>