<div *ngIf="group.groupData" class="container-fluid p-3">
  <div class="row mb-1">
    <div class="col">
      <h1>{{group?.groupData?.name}} </h1>
      <h5 >{{group?.groupData?.startDate}} - {{group?.groupData?.endDate}}</h5>
      <p class="lead">{{group?.groupData?.description}}</p>
    </div>
  </div>
  <hr class="m-0">
  <div class="row mt-2">
    <div class="col">
      <label>Membri:</label>
      <div class="list-group">
        <div *ngFor="let student of group.users" class="list-group-item p-1">
          {{student}}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <a *ngIf="privilege == 1" class="btn btn-success mr-2" [routerLink]="'/teacher-dashboard/edit-group-users'">Editeaza membri</a>
      <a *ngIf="privilege == 1" class="btn btn-success mr-2" [routerLink]="'/teacher-dashboard/edit-recommended-lessons'">Editeaza lectii recomandate</a>
      <a *ngIf="privilege == 1" class="btn btn-success mr-2" [routerLink]="'/teacher-dashboard/statistici-prezenta'">Statistici prezenta</a>
      <a *ngIf="privilege == 2" class="btn btn-success mr-2" [routerLink]="'/admin-dashboard/edit-group-users/' + group.groupData.groupId">Editeaza membrii</a>
    </div>
  </div>
</div>
<div *ngIf="!group.groupData">
  Loading...
</div>

