<div *ngIf="group.groupData" class="container-fluid m-3">
  <div class="row">
    <div class="col">
      <h1>{{group?.groupData?.name}} </h1>
      <h5 >{{group?.groupData?.startDate}} - {{group?.groupData?.endDate}}</h5>
      <p class="lead">{{group?.groupData?.description}}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <label>Membrii:</label>
      <div class="list-group">
        <div *ngFor="let student of group.users" class="list-group-item p-1">
          {{student}}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!group.groupData">
  loading...
</div>

