<div class="container-fluid mt-2">
    <h2>{{pageTitle}}</h2>
    <form>
        <div class="form-group">
            <label for="lessonTitle">Titlu</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="lesson.title"  id="lessonTitle" placeholder="Titlu lectie..">
        </div>
        <div class="form-group">
            <label for="lessonContent">Continut</label>
            <textarea type="text" name="content" class="form-control" [(ngModel)]="lesson.content"   id="lessonContent" placeholder="Continut lectie.."></textarea>
        </div>
        <div class="form-group mb-3">
            <label>Taguri</label>
            <div class="input-group">
                <input [(ngModel)]="newTag" type="text" name="tags" class="form-control d-inline-block" (keyup.enter)="addTag()" id="lessonTags" placeholder="Taguri lectie..">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="addTag()">Adauga</button>
                </div>
            </div>
            <small id="tagslHelp" class="form-text text-muted">Dupa fiecare tag, apasa pe butonul de adaugare, sau apasa tasta enter. Apasa pe un tag pentru a il sterge.</small>
            <span *ngFor="let tag of tags" (click)="deleteTag(tag)" class="m-2 p-2 badge badge-success">{{tag}}</span>
        </div>
        <div class="form-group">
            <div class="btn btn-success" (click)="submitLesson()">
                Salveaza
            </div>
        </div>
    </form>
</div>