<div class="container-fluid mt-2">
    <h2>{{pageTitle}}</h2>
    <form>
        <div class="form-group">
            <label for="lessonName">Nume</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="lesson.name"  id="lessonName" placeholder="Nume lectie..">
        </div>
        <div class="form-group">
            <label for="lessonContent">Continut</label>
            <textarea type="text" name="content" class="form-control" [(ngModel)]="lesson.content"   id="lessonContent" placeholder="Continut lectie.."></textarea>
        </div>
        <div class="form-group">
            <label for="lessonTags">Taguri</label>
            <input type="text" name="tags" class="form-control" [(ngModel)]="lesson.tags"  id="lessonTags" placeholder="Taguri lectie..">
            <small id="tagslHelp" class="form-text text-muted">Un cuvant sau mai multe cuvinte, separate prin virgula.</small>
        </div>
        <div class="form-group">
            <div class="btn btn-success" (click)="submitLesson()">
                Salveaza
            </div>
        </div>
    </form>
</div>